@import url(https://fonts.googleapis.com/css?family=Satisfy);
body {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 700px;
    position: relative;
    font-family: 'Poiret One', cursive;
    background-color: rgba(255, 255, 255, 0.61);
    vertical-align: baseline;
}
a{
    text-decoration: none;
}

header{
    display: inline-block;
    width: 70%;
    height: 70px;
    margin-left: 15%;
    margin-right: 15%;
    background-image: url(pics/head.png);
    align-content: right;
    border-radius: 70px;
    
}
.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("pics/cd-arrow-bottom.svg") no-repeat center center;
}

#nav
{
    position: relative;
    margin-top: 20px;
    margin-left: 200px;
    align-content: center;
}
#nav a
{
color: gold;
cursor: auto;
margin-left: 10px;
margin-right: 10px;
    background-color: black;
    border-radius: 7px;
}
#main{
    display: block;
    background-image: url(pics/bg-about.jpg);
    background-size: contain;
    width: 70%;
    height: 610px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: justify;
    border-radius: 7px
}
h1{
    text-align: center;
    font-family: 'Satisfy', cursive;
    color:whitesmoke
}
h2
{
    text-align: center;
}
.about{
    background-color:aquamarine;
}
.img img{
    
    border: 2px solid;
    width: 20%;
    border-radius: 8px;
    display: inline;
}
table{
    background-color: burlywood;
    width: 100%;
    margin-top: 40px;
    display: block;
    border-spacing: 28px;
    border: 28px;
    border-radius: 5px;

}
td
{
    margin-left: 10px;
    margin-right: 10px;
}
.about{
    position: relative;
    display: inline-block;
}
footer {
    display: inline-block;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    background-image: url(pics/bg-about.jpg);
    text-align: center;
    height: 40px;
    border-radius: 5px;
}
i {
    display: inline-block;
    float: left;
    padding: 10px;
}
small
{


* {
    box-sizing: border-box;
}



/* Add Animation */


@-webkit-keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}

/* The Close Button */

/* Responsive Columns */
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

/* Clear Floats */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}dding: 10px
}

/* The Image */
div.img img {
    width: 100%;
    height:50%;
    cursor: pointer;
}

/* Description of Image */
div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* Add Responsiveness */
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive Columns */
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

/* Clear Floats */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.contact form{
    align-self: center;
}