@import url(https://fonts.googleapis.com/css?family=Satisfy);
body {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 700px;
    position: relative;
    font-family: 'Poiret One', cursive;
    background-color: rgba(255, 255, 255, 0.61);
    vertical-align: baseline;
}
a{
    text-decoration: none;
}

header{
    display: inline-block;
    width: 70%;
    height: 70px;
    margin-left: 15%;
    margin-right: 15%;
    background-image: url(pics/head.png);
    align-content: right;
    border-radius: 70px;
    
}
.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("pics/cd-arrow-bottom.svg") no-repeat center center;
}

#nav
{
    position: relative;
    margin-top: 20px;
    margin-left: 200px;
    align-content: center;
}
#nav a
{
color: gold;
cursor: auto;
margin-left: 10px;
margin-right: 10px;
    background-color: aqua;
    border-radius: 7px;
}
#main{
    display: block;
    background-image: url(pics/bg-about.jpg);
    background-size: contain;
    width: 70%;
    height: 610px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: justify;
    border-radius: 7px
}
h1{
    text-align: center;
    font-family: 'Satisfy', cursive;
    color:whitesmoke
}
h2
{
    text-align: center;
}
.about{
    background-color:aquamarine;
}
.img img{
    
    border: 2px solid;
    width: 20%;
    border-radius: 8px;
    display: inline;
}
footer {
    display: inline-block;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    background-image: url(bg-about.jpg);
    text-align: center;
    height: 40px;
    border-radius: 5px;
}
i {
    display: inline-block;
    float: left;
    padding: 10px;
}
small
{
    padding: 10px
}
table{
    background-color: burlywood;
    width: 100%;
    margin-top: 40px;
    display: block;
    border-spacing: 28px;
    border: 28px;
    border-radius: 5px;

}
td
{
    margin-left: 10px;
    margin-right: 10px;
}